
.shuggest-tooltip {
  background: #ffd;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  margin-top: 1px;
}

.shuggest-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 5px;
}

.shuggest-tooltip li {
  margin: 2px 0;
}

.shuggest-tooltip li span {
  color: #999;
}

a.shuggest-more {
	color: #333333;
    text-decoration: none;
    margin-right: 20px;
}

.shuggest-tooltip-close {
    display: block;
    top: 5px;
    right: 5px;
    position: absolute;    
    width: 18px;
    height: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.shuggest-descr {
	color: #999;
    display: inline-block;
    margin: -3px 5px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

.shuggest-details {
	display: none;
	background-color: #eec;
	padding: 2px;
	margin: 2px 0;
}

.shuggest-details-open {
	display: block;	
}

.shuggest-detail {
	padding-left: 20px;
	margin-bottom: 5px;
}

.shuggest-fulldesc {
	margin-bottom: 5px;
	padding: 0p;
}

.shuggest-usage {
	background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAAAQABAAAAIbjI+pywfQ0ot0vUkvrAFXn22fyGhaaYLcyioFADs=) no-repeat scroll left top;
}

.shuggest-consumes {
	background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAAAQABAAAAIgjI+pywvQ0otoRhhsm/q8D2JVCFKcyGDdhbKU175yUgAAOw==) no-repeat scroll left top;
}

.shuggest-produces {
	background: url(data:image/gif;base64,R0lGODlhEAAQAIABAAAAAP///yH5BAEKAAEALAAAAAAQABAAAAIfjI+puwCsHExynnoZNvu6D0bgKFJPiZyoFXSQy8ZsAQA7) no-repeat scroll left top;
}
